body {
    background: rgb(245, 245, 220);
    background: linear-gradient(90deg, rgba(245, 245, 220, 1) 41%, rgba(224, 211, 199, 1) 79%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    font-family: Inter, sans-serif;
}

.link {
    color: #26854f;
    text-decoration: none;
    font-weight: 600;
}

.link_to {
    font-size: 15px;
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-wrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    width: 90%;
    min-height: 550px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.form {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remember_me, .remember_me label{
    justify-content: right;
    display: flex;
}
.form-row label {
    width: 100%;
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 350px;
}

.input {
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background-color: #f8f8f8;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input input {
    background-color: transparent;
    height: 35px;
    width: 100%;
    min-width: 140px;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
}

.input input:focus {
    outline: none;
}

.form-row button {
    width: 160px;
    height: 45px;
    background-color: #2e9d5f;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.form-row button:hover {
    background-color: #26854f;
}

.icon-wrapper {
    width: 40px;
    border-right: 1px solid #d8d8d8;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e9d5f;
}

.form-image {
    width: 60%;
}

.form-title {
    font-size: 35px;
    font-weight: 500;
}

.remember_me{
    accent-color: #2e9d5f;
}
.double-row{
    display: flex;
    gap: 20px;
}
.double-row input{
    width: 100%;
}

@media screen and (max-width: 850px) {
    .form {
        width: 100%;
    }

    .form-image {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .form-row{
        width: 90%;
    }
    .form form{
        width: 90%;
    }
    .link_to{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input input{
        width: 100%;
    }
    .double-row{
        flex-direction: column;
        width: 90%;
    }
    .double-row input{
        width: 100%;
    }
}