body{
    background: rgb(245, 245, 220);
    background: linear-gradient(90deg, rgba(245, 245, 220, 1) 41%, rgba(224, 211, 199, 1) 79%);
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
    width: 100%;
    height: 100%;

    padding: 50px;
    height: 100vh;
}

/* SIDE MENU */

.nav-content{
    background-color: white;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fa-book-open{
    font-size: 25px;
    color: #2E9D5F;
}
.nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-link, .button-main{
    background-color: #2E9D5F;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px !important;
    height: 40px;
    font-weight: 400;
    transition: 0.3s;
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}
.button-main{
    justify-content: center;
}
.nav-link:hover, .button-main:hover{
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.nav-active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}



/* style do accordion usera */
.accordion-button:not(.collapsed){
    background-color: #aef9d6;
    border: none;
    outline: none;
    box-shadow: none;
    color: #232323;
}
.accordion-item{
    background-color: #aef9d6;
}
.user-name{
    max-width: 110px;
}

/* Ikonka przy accordion usera */
.accordion-button:not(.collapsed)::after{
    background-image: var(--bs-accordion-btn-icon);
}

/* END SIDE MENU */


/* MAIN */

.main-content{
    overflow: hidden;
    width: 70%;

    display: flex;
    flex-direction: column;
}

.title-wrapper{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    height: 100%;

    overflow-y: scroll;
    padding-right: 10px;
    padding-bottom: 5px;
}

.book-card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    height: 200px;

    width: 450px;
    overflow: hidden;

    display: flex;
}

.book-img{
    background-color: #5FF5B4;
    height: 100%;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.book-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-title{
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}
.book-description{
    width: 100%;
}
.reviews p{
    font-size: 15px;
}
.book-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    width: 200px;
}

/* END MAIN */


@media screen and (max-width: 1478px) {
    .book-card{
        flex-grow: 1;
    }
}
@media screen and (max-width: 800px) {
    main{
        flex-direction: column;
        height: unset;
        padding: 20px;
    }
    .nav-content{
        flex-direction: column;
        gap: 20px;
    }
    .main-content{
        width: 100%;
    }
    .content{
        overflow-y: unset;
        padding-right: unset;
    }
}
@media screen and (max-width: 460px){
    .book-card{
        flex-direction: column;
        height: 350px;
    }
    .book-img{
        width: 100%;
        height: 150px;
    }
    .book-body{
        width: 100%;
    }
}